@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.router-link-active,
.router-link-exact-active {
  border-color: transparent;
  color: var(--va-primary) !important;
  background: var(--va-warning);
  font-weight: 900;
  font-size: 1rem;
}

.menu-logo {
  background: none;
}

.menu-link {
  text-decoration: none;
  color: var(--va-text-primary);
  padding: 0.75rem;
  border-radius: 0.25rem;
  &:hover {
    color: var(--va-primary);
    background: var(--va-background-element);
  }
}